@tailwind base;
@tailwind components;
@tailwind utilities;

.modal {
  transform: translateY(100%);
  opacity: 0;
  animation: slideUp 0.3s ease-in-out forwards;
}

@keyframes slideUp {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
